<h1>Administrar Noticias</h1>
<%= link_to 'Nuevo Articulo', new_article_path, :class => "btn btn-primary" %>
<%= link_to 'Inicio', root_path, :class => "btn btn-primary" %>
<% @articles.each do |article| %>
  <div class="d-inline-block m--2">
    <div class="card card-outline-primary" >
      <div class="card-block">
        <h2 class="card-title"><%= article.titulo %></h2>
        <h4 class="card-subtitle"><%= article.bajada %></h4>
        <p class="card-text">
        <%= article.cuerpo %></p>
        <p class="card-text" > <small class="text-muted">Creado:
          <%= article.created_at %> </small></p>
          <%= link_to 'Mostrar', article_path(article), :class => "btn btn-primary" %> |
          <%= link_to 'Editar', edit_article_path(article), :class => "btn btn-primary" %> |
          <%= link_to 'Destruir', article_path(article), :class => "btn btn-primary" ,
                  method: :delete,
                  data: { confirm: '¿Está seguro?' } %>
      </div>
    </div>
  </div>
<% end %>
