<body>
  <div class="Bienvenidos">
    <h1>Bienvenidos!!!</h1>
    <h1>Ultimas Noticias</h1>
  </div>
  <%= link_to 'Administrar', controller: 'articles', :class => "btn btn-primary" %>

    <% @articles10.each do |article| %>
      <div class="d-inline-block m--2">
        <div class="card card-outline-primary" >
          <div class="card-block">
            <h2 class="card-title"><%= article.titulo %></h2>
            <h4 class="card-subtitle"><%= article.bajada %></h4>
            <p class="card-text">
            <%= article.cuerpo %></p>
            <p class="card-text" > <small class="text-muted">Creado:
              <%= article.created_at %> </small></p>
            <p class="card-text"> <small class="text-muted">Número de comentarios:
              <%= article.comments.length %> </small></p>
            <%= link_to 'Mostrar', article_path(article), :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>



</body>
